<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-list lines="none">
    <ion-item>
      <ion-avatar slot="start" class="profile-image">
        <img src="https://griffonagedotcom.files.wordpress.com/2016/07/profile-modern-2e.jpg">
      </ion-avatar>
      <ion-label>
        <h2>My name</h2>
        <p>Description or status</p>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list lines="none" class="app-list" mode="md">
  
    <ion-item>
      <ion-icon slot="start" color="primary" name="key"></ion-icon>
      <ion-label>
        <h2>Account</h2>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" color="primary" name="notifications"></ion-icon>
      <ion-label>
        <h2>Notifications</h2>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" color="primary" name="people"></ion-icon>
      <ion-label>
        <h2>Invite friends</h2>
      </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon slot="start" color="primary" name="help"></ion-icon>
      <ion-label>
        <h2>Help</h2>
      </ion-label>
    </ion-item>
  
  </ion-list>
  
</ion-content>
