<ion-content>

  <div class="logo-box">
    <img [src]="logoPath" alt="">
  </div>

  <div class="login-form">
    <h2 text-center>
      <small>Sign in to continue</small>
    </h2>

    <ion-list lines="none">

      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select class="text-secondary" [(ngModel)]="confirmData.code">
          <ion-select-option *ngFor="let country of countries" [value]="country.dial_code">
            {{ country.dial_code }} {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="number" placeholder="Enter Phone Number"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button mode="ios" color="primary" expand="block" (click)="showEnterCodePage()">
      Confirm
    </ion-button>

    <p text-center>
      We will send you a One Time SMS message.
    </p>
  </div>

</ion-content>